{% extends "core/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
    {% block principal %}
    
    
    <link rel="stylesheet" href="{% static 'core/css/pago.css' %}">
    
    <title>pago</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <img src="{% static 'core/img/icon.ico' %}" alt="Logo" width="30" height="24 " class="d-inline-block align-text-top"href="index.html" >
              <a class="navbar-brand d-flex flex-column align-text-top text-white" href="index.html">ferremas</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                
              </button>
              <form class="d-flex w-50 ms-5" role="search">
                <input class="form-control me-2" type="search" placeholder="BUSCAR" aria-label="Search">
                <button class="btn btn-danger" type="submit">BUSCAR</button>
              </form>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-5 mb-lg-0">
                  <li class="nav-item d-flex me-5">
                    <a class="nav-link text-white" href="tienda.html">Productos</a>
                  </li>
                  <li class="nav-item me-5">
                    <a class="nav-link text-white" href="login.html">Iniciar Sesion</a>
                  </li>
                  
                  <button type="button" class="btn btn-danger ms-5"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="25" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                  </svg></button>
                </ul>
                
              </div>
            </div>
          </nav>
    </header>
    <main>

        <section class="productos">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item w">TALADRO PERCUTOR BAUKER <h3>$19990</h3></li>
                <li class="list-group-item">A list item</li>
                <li class="list-group-item">A list item</li>
              </ol>
            </section>
    
        <section class="resumen">
            
            <div class="Total">
                <h2>Total : <span>$64.460</span></h2>

            </div>
            </div>
        </section>
    
        <section class="boton-pago">
            <button type="button" class="btn btn-danger">Pagar</button>
        </section>
    
        <section class="metodos-envio">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Retiro en Tienda $0
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Despacho $4990
                </label>
              </div>
        </section>
    


    </main>
{% endblock principal %}