{% extends "core/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      {% block principal %}     
    
    
    <link rel="stylesheet" href="{% static 'core/css/productos.css' %}">
   
    <title>tienda</title>
</head>
<body>
    
      <main>
        <section id="galeria">
          <h1>Productos</h1>
          <div class="galeria">
            <div class="foto">
              <a href="{% url 'producto' %}"><img id="foto" src="{% static 'core/img/ferreteria-basica.jpg' %}" width="90%" alt=""></a>
            </div>
            <div class="pie">
              <p>Nombre: ******</p>
              <p>Precio: $xxxxx</p>
              <p>Marca:********</p>
            </div>
          </div>
          <div class="galeria">
            <div class="foto">
              <a href="galeria1.html"><img id="foto" src="{% static 'core/img/ferreteria-basica.jpg' %}" width="90%" alt=""></a>
            </div>
            <div class="pie">
              <p>Nombre: ******</p>
              <p>Precio: $xxxxx</p>
              <p>Marca:********</p>
            </div>
          </div>
          
          
          
          
    
          
    
    
    
    
        </section>
        <section id="uwu"></section>
    
      </main>
      
      
      {% endblock principal %}