body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.form-group {
    margin-bottom: 15px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 16;
    height: 16;
    
    
}

button:hover {
    background-color: #0056b3;
}
.container{
    text-align: center;
    
    
}
.center{
    background-position: center;
}
button {
    width: 150px;
    height: 40px;
  }
